footer{
    position: fixed;
    bottom: 0;
    width: 100%; 
}

body{
    background-image: url("http://www.todayifoundout.com/wp-content/uploads/2010/05/blue-sky.jpg");
    background-size: cover;
}
button{
    width: 100%;
    height: 100%;
    font-size: x-large;
    float: right;
}
.row1{
    height: 100%;
    margin-bottom: 0;
}
#input{
    width: 100%;
    height: 100%;
    margin: 0;
    padding-left: 0;
    text-align: center;
}
.nav-wrapper{
width: 100%;
}

#navbar{
    background-color:#3686CB;
}

#footer{
    background-color: #61AC2B;
}